<h1>Listing Posts</h1>

<div>
   <% @posts.each do |post| %>
      <div> 
        <%= post.description%>
        <%= image_tag post.image.url(:thumb) %>
        <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'}%>
      </div>
     <% end %> 

</div>

<%= link_to 'New Post', new_post_path %>